.botao {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  font-weight: bold;

  transition: transform 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
}

.botao:hover {
  filter: brightness(85%);
  transform: scale(1.02);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}

.botao:disabled {
  filter: grayscale(0.4);
  box-shadow: none;
  transform: none;
}


/* .botao {
  padding: 10px 20px;
  border-radius: 18px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255,0.4);

  height: 75px;
  width: 200px;
  font-size: 20px;
  font-weight: 600;

  color: rgba(255, 255, 255, 1);
  letter-spacing: 1px;

  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in;

  opacity: 0.8;

  margin-top: 30px;
}

.botao:hover {
  opacity: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */
