.pontoVirgulaIns{
  margin-left: 3px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.pontoVirgulaOp{
  margin-left: -3px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.schedule-row {
  margin: 5px;

}