.wait-message {
  background-color: #fff3cd;
  border: 1px solid #cacaca;
  border-radius: 4px;
  color: #856404;
  min-width: 160px;
  height: 34px;
  display: inline-block;
  align-items: center;
  cursor: pointer;
}

.message {
  font-size: 0.85rem;
}


.wait-message .operacao-bloco {
  display: none;
}

.wait-message:hover .message {
  display: none;
}

.wait-message:hover .operacao-bloco {
  display: inline-block;
}
