.wait-message {
  padding: 0px;
  background-color: #fff3cd;
  border: 1px solid #cacaca;
  border-radius: 5px;
  color: #856404;
  width: 100%;
  height: 34px;
  display: inline-block;
  align-items: center;
  cursor: pointer;
}

.message {
  font-size: 0.85rem;
  font-family: monospace;
  margin: 4px 6px;
}


.wait-message .operacao-bloco {
  display: none;
}

.wait-message:hover .message {
  display: none;
}

.wait-message:hover .operacao-bloco {
  display: inline-block;
}

/* ----------- 1200px ----------- */
@media (max-width: 1200px) {
  .wait-message {
    height: 32px;
    padding: 0px;
  }

  .message {
    font-size: 0.95rem;
    margin: 4px 6px;
  }
}

/* ----------- 1024px ----------- */
@media (max-width: 1024px) {
  .wait-message {
    height: 30px;
    padding: 0px;

  }

  .message {
    font-size: 0.9rem;
    margin: 4px 6px;
  }
}

/* ----------- 768px (tablet) ----------- */
@media (max-width: 768px) {
  .wait-message {
    padding: 0px;
  }

  .message {
    font-size: 0.6rem;
    line-height: 1.2;
    margin: 4px 6px;
  }
}

/* ----------- 480px (mobile) ----------- */
@media (max-width: 480px) {
  .wait-message {
    min-height: 26px;
    padding: 0px;
  }

  .message {
    font-size: 0.55rem;
    margin: 4px 6px;
  }
}
