.control-buttons {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-left: 8px;

  animation: fadeSlideIn 0.70s ease-out;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(6px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn {
  padding: 4px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add.enabled {
  background-color: #007bff;
  color: white;
  width: 35px;
  height: 35px;
}

.btn-add.disabled {
    display: none;
}

.btn-remove.enabled {
  background-color: #dc3545;
  color: white;
  width: 35px;
  height: 35px;
}

.btn-remove.disabled {
  display: none;
}

.btn:hover {
  filter: brightness(85%);
  transform: scale(1.02);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}