.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 50px;
}

.logo-icon {
  width: 60px;
  height: 60px;
}

.logo-text {
  color: #0051ad;
  font-weight: bold;
  font-size: 2.7rem;
  margin: 0;
}