.multi-dropdown {
  position: relative;
  display: inline-block;
  width: 120px;
  font-size: 16px;
}

.dropdown-display {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: tomato; */
}

.dropdown-placeholder {
  color: #aaa;
  font-size: 16px;
}

.dropdown-placeholder.active {
  color: #333;
}

.dropdown-icon {
  font-size: 12px;
  color: #666;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  min-width: 120px;
  z-index: 1000;
}

.dropdown-item {
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.tx-label,
.action-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: tomato;
}

/* .tx-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: #f8f8f8;
  border-bottom: 1px solid #eee;
  width: 100%;
  background-color: tomato;
}

.action-item {
  display: flex;
  background-color: aqua;
} */

.submenu-arrow {
  font-size: 12px;
  color: #888;
}

.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  min-width: 110px;
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.dropdown-item.relative {
  position: relative;
}


.dropdown-item.relative:hover > .submenu {
  display: block;
  opacity: 1;
  transform: translateX(0);
}


.dropdown-item.commit .submenu-arrow {
  display: none;
}

.icon-arrow {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  object-fit: contain;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.action-wrapper {
  position: relative;
  display: inline-block;
}
