.multi-dropdown {
  position: relative;
  display: inline-block;
  width: 120px;
  font-size: 16px;

  animation: fadeSlideIn 0.50s ease-out;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(6px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.dropdown-display.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.dropdown-display {
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-placeholder {
  color: #aaa;
  font-size: 16px;
}

.dropdown-placeholder.active {
  color: #333;
}

.dropdown-menu {
  position: absolute;
  margin-top: 4px;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  min-width: 120px;
  z-index: 1000;
  animation: MfadeDropdown 0.15s ease-out;
  cursor: pointer;
}

.dropdown-item {
  white-space: nowrap;
  position: relative;
}

@keyframes MfadeDropdown {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}

.dropdown-item:hover {
  background-color: #f6f6f6;
  border-radius: 5px;
}

.tx-label,
.action-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 8px;
  padding: 8px 5px;
}


.submenu {
  position: absolute;
  top: 0;
  left: 101%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  min-width: 110px;
  display: none;
  z-index: 1100;
  animation: SfadeDropdown 0.15s ease-out;
}

@keyframes SfadeDropdown {
  from { opacity: 0; transform: translateX(-5px); }
  to   { opacity: 1; transform: translateX(0); }
}


.dropdown-item.relative {
  position: relative;
}

.last-level {
  padding: 8px 10px;
}

.dropdown-item.relative:hover > .submenu {
  display: block;
  opacity: 1;
  transform: translateX(0);
}


.icon-arrow {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  object-fit: contain;
  transition: 0.2s ease;
}

.icon-arrow.rotated {
  transform: rotate(-180deg);
}

.icon-arrow.fade-in {
  opacity: 0.2;
}

.icon-arrow.fade-out {
  opacity: 1;
}

.dropdown-display:hover {
  border-color: #888;
}
