.multi-dropdown {
  position: relative;
  display: inline-block;
  width: 120px;
  font-size: 16px;

  animation: fadeSlideIn 0.50s ease-out;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(6px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.dropdown-display.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.dropdown-display {
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-placeholder {
  color: #aaa;
  font-size: 16px;
}

.dropdown-placeholder.active {
  color: #333;
}

.dropdown-icon {
  font-size: 12px;
  color: #666;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  min-width: 120px;
  z-index: 1000;
}

.dropdown-item {
  padding: 8px 5px;
  white-space: nowrap;
  position: relative;
  
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.tx-label,
.action-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 8px;
}

.submenu-arrow {
  font-size: 12px;
  color: #888;
}

.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  min-width: 110px;
  display: none;
  z-index: 1100;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.dropdown-item.relative {
  position: relative;
}

.dropdown-item.relative:hover > .submenu {
  display: block;
  opacity: 1;
  transform: translateX(0);
}

.dropdown-item.commit .submenu-arrow {
  display: none;
}

.icon-arrow {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  object-fit: contain;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.action-wrapper {
  position: relative;
  display: inline-block;
}

.dropdown-display:hover {
  border-color: #888;
}
