.footer {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

.footer-logo {
  height: 90px;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 10px;
  }

  .footer-logo {
    height: 30px;
  }
}
