.bodyRunPage {
  padding: 20px 0;
  background-image: url('../../assets/abstract-forms/abstractForm1.png'), url('../../assets/abstract-forms/abstractForm2.png'), linear-gradient(to bottom, #3b70fa, #ffffff);

  background-size: 30%, contain, cover;
  background-position: left -40vh bottom 30vh, left 40vh top -40vh, center;
  
  background-repeat: no-repeat;
}

.runPage-container {
  width: 90%;
  margin: auto;
}


.Title {
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
  margin: 5px;
  font-weight: 700;
  margin-top: 100px;
}

.titleDivider {
  font-size: 1.04rem;
  color: #282828;
  margin-bottom: 15px;
  font-weight: 500;
}

.dividerContainer {
  display: flex;
  gap: 10px;
  margin: 20px 0px;
}

.dividerBox {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px 30px 30px 30px;
  border-radius: 8px;
  width: 33%;
  min-height: 280px;
  background-color: #e0eeff;
}

.speed-control input[type="range"] {
  width: 65%;
  height: 8px;
  background: linear-gradient(to right, #4A90E2, #50E3C2);
  border-radius: 5px;
  appearance: none;
  transition: background 0.3s ease;
}

.speed-control input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #4A90E2;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.speed-control input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}


.dropdownsContainer {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 20px 20px;
  margin: auto;
  border-radius: 8px;
  background-color: #e0eeff;
  margin: 20px 0px;
}

.dropdownsBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.SubTitle {
  text-align: center;
  font-size: 1.35rem;
  color: #282828;
  margin-top: 60px;
  margin-bottom: 25px;
  font-weight: 600;
}


.buttonsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.dropdown-item {
  display: flex;
}

.ExcutionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5%;
  margin: 20px 0px;
}

.ResultTableContainer {
  margin: 20px 0px;
}

.FooterContainer {
  margin-top: 100px;
}

.highlight-dropdown {
  animation: pulse-shadow 1.5s ease-out;
  border-radius: 3px;
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 102, 255, 0.7);
  }

  50% {
    box-shadow: 0 0 12px 6px rgba(0, 102, 255, 0.4);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 102, 255, 0.7);
  }
}

.toggle-container {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.toggle-slider::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.toggle-input:checked+.toggle-slider {
  background-color: #4A90E2;
}

.toggle-input:checked+.toggle-slider::before {
  transform: translateX(30px);
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

