.runPage-container {
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #ffffff;
  width: 95%;
}

.dropdowns-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
}

.Title {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    margin: 5px;
    font-weight: 600;
}

.SubTitle {
    text-align: center;
    font-size: 1.25rem;
    color: #666;
    margin: 5px;
    font-weight: 600;
}

.dividerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 20px;

}

.divider {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px 30px 30px 30px;
    border-radius: 8px;
    width: 30%;
    height: 280px;
}

.boxRun {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0.1px 20px 20px 20px;
    margin: auto;
    border-radius: 8px;
    width: 93%;
    margin-top: 25px;
}

.buttonsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.dropdown-item {
    display: flex;
}

.Excution {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 20px;
}

.highlight-dropdown {
  animation: pulse-shadow 1.5s ease-out;
  border-radius: 6px; /* arredonda para ficar mais bonito */
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 102, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 12px 6px rgba(0, 102, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 102, 255, 0.7);
  }
}
