.operacao-montagem {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 5px;
  height: 36px;
  animation: fadeSlideIn 0.50s ease-out;
}

.campo-input {
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  max-width: 80px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  outline: none;
  cursor: text;
  height: 100%;
}

.campo-input:hover {
  border-color: #888;
}

.operacao-montagem.disabled input {
  cursor: not-allowed;
}

.campo-input:disabled{
  opacity: 0.6;
}